@font-face {
  font-family: 'Kenia';
  src: url('/public/Kenia-Regular.ttf');
}
html {
  background-color: #35363a;
}
body {
  margin: 0;
  font-family: 'Kenia', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #35363a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  width: 100%;
  max-width: 720px;
  height: auto;
}

.App {
  background-color: #35363a;
}